.modal-lg {
  max-width: 90% !important;
}

#tabla_licencia_personal tr.group,
tr.group:hover {
  background-color: #ddd !important;
}

#tabla_licencia_personal td:nth-child(4) {
  color: red;
}

#tabla_licencia_personal td:nth-child(5) {
  color: red;
}

/* override styles here */
.notie-container {
  box-shadow: none;
}
