<div class="modal fade" id="modalAgregarPatologiaSocio" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <h3>Agregar patología a socio:</h3>
                <button type="button" class="close" value="" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

                <label>Patología:</label>
                <select class="form-control mb-4" id="select_patologia_socio">
                </select>


                <label>Observación:</label>
                <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="Ingrese una observación ..."
                        id="txt_observacion_patologia_socio" style="height: 100px"></textarea>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success" onclick="agregar_patologia_socio(false)">Guardar</button>
            </div>
        </div>
    </div>
</div>