<!-- Modal -->
<div class="modal fade" id="modal_cargar_registro_volver_a_llamar" tabindex="-1" role="dialog"
    aria-labelledby="modal_cargar_registro_volver_a_llamar" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <h4 class="modal-title">Cargar registro volver a llamar</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <input type="hidden" id="id_volver_a_llamar">
                <input type="hidden" id="area_volver_a_llamar">
                <input type="hidden" id="cedula_volver_a_llamar">
                <input type="hidden" id="nombre_volver_a_llamar">
                <input type="hidden" id="telefono_volver_a_llamar">
                <input type="hidden" id="es_socio_volver_a_llamar">
                <input type="hidden" id="fecha_hora_volver_a_llamar">
                <input type="hidden" id="mensaje_volver_a_llamar">
                <input type="hidden" id="fecha_registro_volver_a_llamar">


                <div class="form-row mb-3">
                    <div class="form-group col-lg-12">
                        <label for="" class="col-form-label">Observación:</label>
                        <textarea class="form-control" rows="4" id="observacion_volver_a_llamar"
                            placeholder="Ingrese observación de la llamada ..."></textarea>
                    </div>
                    <div class="form-group col-lg-12">
                        <label for="" class="col-form-label">Avisar a:</label>
                        <select class="form-control agregarFiliales" id="avisar_a_volver_a_llamar"
                            name="avisar_a_volver_a_llamar">
                            <option selected value="sin_seleccion">Seleccione una opción</option>
                            <option value="">No avisar</option>
                        </select>
                    </div>
                </div>
                <div class="container border mb-3">
                    <h5 class="text-center mb-3">Cargar Imagen:</h5>
                    <div class="d-flex justify-content-center">
                        <input type="file" name="cargar_imagen_volver_a_llamar[]" id="cargar_imagen_volver_a_llamar"
                            class="mb-3" accept=".jpg, .jpeg, .png, .pdf" multiple>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success"
                    onclick="cargar_registro_volver_a_llamar(false)">Guardar</button>
            </div>
        </div>
    </div>
</div>