<!-- Modal -->
<div class="modal fade" id="modal_identificar_persona_en_sesion" tabindex="-1" role="dialog"
    aria-labelledby="modal_identificar_persona_en_sesion" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h4 class="modal-title">Identifiquese</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-6">
                        <label>Ingrese su cédula:</label>
                        <input type="text" class="form-control mb-4" id="cedula_identificar_persona">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"
                    onclick="abrir_modal_identificarse(false)">Guardar</button>
            </div>
        </div>
    </div>
</div>