<!-- Modal -->
<div class="modal fade" id="modal_historialRegistrosVolverALlamar" tabindex="-1" role="dialog"
    aria-labelledby="modal_historialRegistrosVolverALlamar" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h4 class="modal-title">Historial de registros volver a llamar</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="table-responsive">
                    <table id="tabla_historial_volver_a_llamar" class="table table-sm table-bordered" width="100%">
                        <thead class="bg-primary text-dark">
                            <tr>
                                <th>#</th>
                                <th>Cédula</th>
                                <th>Nombre</th>
                                <th>Teléfono</th>
                                <th>Socio</th>
                                <th>Baja</th>
                                <th>Fecha y Hora</th>
                                <th>Comentario</th>
                                <th>Fecha de registro</th>
                                <th>Usuario Agendo</th>
                                <th>Usuario Asignado</th>
                                <th>Usuario Asignador</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>