<div class="modal fade" id="modalDatosCoordina" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Observaciones de coordinacion</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<table class="table">
					<thead class="bg-dark text-white">
						<tr>
							<th style="width: 8%;">Nro servicio</th>
							<th scope="col">Obs servicio</th>
							<th scope="col">Fecha Inicio</th>
							<th scope="col">Fecha Fin</th>
							<th scope="col">Hora Inicio</th>
							<th scope="col">Hora Fin</th>
							<th scope="col">Horas por día</th>
							<th scope="col">Lugar</th>
							<th scope="col">Estado</th>
							<th scope="col">Patología</th>
						</tr>
					</thead>
					<tbody id="tbodyMDCoo">

					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>