<!-- Modal -->
<div class="modal fade" id="modal_sesionExpirada" tabindex="-1" role="dialog" aria-labelledby="modal_sesionExpirada"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h4 class="modal-title">Sesión Expirada</h4>
            </div>
            <div class="modal-body">


                <div class="row">
                    <div class="col-6">
                        <label>Ingrese su cedula:</label>
                        <input type="text" class="form-control mb-4" id="txt_cedula_sesion_expirada">
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="extender_sesion()">Extender Sesión</button>
            </div>
        </div>
    </div>
</div>