<link rel="stylesheet" href="css/login.css">
<link rel="stylesheet" href="css/tabla.css">
<div class="container">
	<div class="row">
		<div class="col-sm-6 col-md-4 col-md-offset-4 mx-auto">
			<div class="account-wall">
				<img class="profile-img" src="views/images/globito.jpg" alt="" />
				<form class="form-signin" name="form" id="form">
					<input type="text" id="usuario" name="usuario" class="form-control" placeholder="Usuario" autofocus>
					<input type="password" id="password" name="password" class="form-control mb-3" placeholder="Codigo">
					<div class="d-flex justify-content-center">
						<input type="button" id="boton" class="btn btn-primary btn-block" value="Ingresar"
							onclick="log()">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>